<h1>Hola Mundo</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%= image_tag "image/products/pepa/playa.jpg" %>
<p>Playa</p>

<h2>Esto es un título</h2>

<p>Copyright <%= Time.now.year %></p>
<%= if Time.now.year >= 2018 %>
<p><%= Time.now.year %></p>
<%= else %>
<p>Version 1.0</p>
<%= end %>

<%='Hola, esto No se va a imprimir' %>
<%='Hola, esto SI se va a imprimir' %>